.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
    max-width: 550px;
}

.post__body {
    flex: 1;
    padding: 1px;
}

.post_moreOption {
    display: flex;
    margin-left: 60%;
}

.post__body > img {
    border-radius: 50px;
    height: 50vh;
    margin-right: 20px;
    max-width: 60vh;
    max-height: 60%;
}

.post__body > img:hover {
    cursor: pointer;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 80%;
}

.post__options:hover {
    cursor: pointer;
    background-color: var(--twitter-background);
    border-radius: 10px;
}

.post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.post__headerText {
    font-size: 15px;
    margin-bottom: 5px;
}

.post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
}
  
.post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.post__avatarIm {
    height: 50px;
    border-radius: 50%;
    padding: 10px;
}

.post__avatarIm:hover {
    cursor: pointer;
}