.signup {
    display:flex;
}

.signup__image > img {
    height: 100vh;
    width: 120vh;
    align-items: flex-start;
}

.signup__image {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}
   
.signup__image svg {
    height: 65vh;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    position: absolute;
    top: 15vh;
    left: 25vh;
}

.signup__menu {
    max-height: 400px;
    display: grid;
    position: relative;
    top: 20vh;
    left: 20vh;
    width: 350px;
}

.signup__menu svg {
    height: 40px;
    filter: invert(59%) sepia(99%) saturate(650%) hue-rotate(174deg) brightness(97%) contrast(98%);
    margin-left: 150px;
}

.signup__menu input {
    max-height: 40px;
    border-radius: 5px;
    border-width: 1px;
}

.signup__menu button {
    background-color: var(--twitter-color);
    border: none;
    color: white ;
    font-weight: 900 ;
    text-transform: inherit ;
    border-radius: 30px;
    height: 40px;
    width: 100vh;
    max-width: 350px;
}

.signup__menu button:hover {
    cursor: pointer;
}