.leftbar {
    width: 100%;
    min-width: 250px;
    max-width: 93%;
    margin-right: 30vh;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    position: static;
}

.leftbar__twitterIcon > svg {
    filter: invert(62%) sepia(33%) saturate(7190%) hue-rotate(179deg) brightness(95%) contrast(97%);
    height: 30px;
    margin-left: 20px;
    margin-top: 15px;
    /* margin-bottom: 10px; */
}
.leftbar__twitterIcon:hover {
    cursor: pointer;
}

.leftbar__tweet {
    background-color: var(--twitter-color);
    border: none;
    color: white ;
    font-weight: 900 ;
    text-transform: inherit ;
    border-radius: 30px;
    height: 50px;
    margin-top: 30px;
    width: 100%;
}

.leftbar__tweet:hover {
    cursor: pointer;
}