.topbarButtons {
    display: flex;
    cursor: pointer;
    padding: 15px 20px;
}


.topbarButtons:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
}

.topbarButtons > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 10px;
}
