.post {
    display: flex;
    align-items: flex-start;
    width: fit-content;
}

.post__body {
    flex: 1;
    padding: 1px;
}

.post_moreOption {
    height: 20px;
    padding: 20px;
    margin-left: 60vh;
}

.post__body > img {
    border-radius: 50px;
    height: 50vh;
    margin-right: 20px;
    max-width: 60vh;
    max-height: 60%;
}

.post__body > img:hover {
    cursor: pointer;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 80%;
}

.post__options:hover {
    cursor: pointer;
    filter: invert(62%) sepia(33%) saturate(7190%) hue-rotate(179deg) brightness(95%) contrast(97%);
}

.post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.post__headerText {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.post__headerTestMoreIcon {
    height: 25px;
    margin-bottom: 5px;
    cursor: pointer;
}

.post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
}
  
.post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.post__avatarIm {
    height: 50px;
    border-radius: 50%;
    padding: 10px;
}

.post__avatarIm:hover {
    cursor: pointer;
}