.tweetBox {
    padding-bottom: 10px;
    border: 2px solid var(--twitter-background);
    padding-right: 10px;
    position: static;
    border-radius: 20px;
    max-height: 350px;
    margin-top: 3%;
    width: 250px;
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}

.tweetBox__input {
    padding: 20px;
    display:flex;
}

.tweetBox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20;
    border: none;
}

.tweetBox__avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.tweetBox__tweetButton {
    background-color: var(--twitter-color);
    border: none;
    color: white ;
    font-weight: 900 ;
    border-radius: 30px;
    height: 40px;
    margin-left: 2%;
    width: 100%;
    cursor: pointer;
}

.tweetBox_options {
    margin-top: 20%;
    height: 40px;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.tweetBox_optionsIcon:hover {
    color: var(--twitter-color);
}